<div class="card">
   <div class="card-header p-0" id="V6_RenewableLineOfCredit">
      <h5 class="mb-0">
         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseV6_RenewableLineOfCredit" aria-expanded="true" aria-controls="collapseV6_RenewableLineOfCredit">
            מסגרות אשראי מתחדשות
         </button>
      </h5>
   </div>
   <div id="collapseV6_RenewableLineOfCredit" class="collapse" aria-labelledby="V6_RenewableLineOfCredit" data-parent="#CreditInformationBody">
      <div id="V6_RenewableLineOfCreditBody" class="card-body">
         {% with object = V6_RenewableLineOfCredit %}
            {% include 'objectWcodes.html' ignore missing %}
         {% endwith %}
      </div>
   </div>
</div>